*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  background-color: #f9f7ca;
}

@media screen and (max-width: 48rem) {
  body {
    font-size: 60%; /* 1rem = 9.6px */
  }
}

@media screen and (max-width: 37.5rem) {
  body {
    font-size: 58.5%; /* 1rem = 9.36px */
  }
}

@media screen and (max-width: 30rem) {
  body {
    font-size: 55%; /* 1rem = 8.8px */
  }
}
